@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppin', sans-serif;
}

body {
    background-color: rgb(4, 6, 51);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 6, 51);
    box-shadow: 5px 5px 5px rgb(89, 89, 89);
    position: sticky;
    top: 0;
}

nav>div {
    padding-left: 10%;
}

ul {
    display: flex;
    list-style: none;
    margin-right: 10%;
}

a {
    text-decoration: none;
    padding: 20px;
    font-weight: 900;
    color: white;
}

a:visited {
    color: white;
}

#slideshow {
    width: 70%;
    height: 55vh;
    margin: auto;
    margin-top: 50px;
}

#slideshow>img {
    width: 100%;
    height: 50vh;
}

#slideshow>div:nth-child(2) {
    width: 10%;
    margin: auto;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
}

.line {
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: white;
    margin-top: 20px;
}

#movies {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

#movies>div {
    text-align: center;
}

#movies>div>h2,
span,
p {
    padding: 20px;
}

#movies>div>span>i {
    color: yellow;
}

#sort-buttons {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#sort-buttons>button {
    color: white;
    width: 20%;
    height: 50px;
    font-weight: 600;
    background-color: rgb(162, 107, 5);
    border-radius: 10px;
    margin-left: 20px;
}

#sort-buttons>button:hover {
    cursor: pointer;
}


#navigation {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 5%;
    width: 40%;
}

#navigation>div {
    position: relative;
    width: 90%;
}

#navigation>div>form>input {
    padding: 15px;
    width: 100%;
    background-color: rgb(4, 6, 51);
    border: none;
    border-bottom: 1px solid rgb(53, 205, 243);
    font-size: 1.2rem;
}

#queryResult {
    display: none;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: rgb(4, 6, 51);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

#queryResult>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 100%;
    box-shadow: rgba(59, 59, 59, 0.373) 0px 1px 3px 0px, rgba(71, 71, 71, 0.281) 0px 0px 0px 1px;
}

#queryResult>div:hover {
    background-color: rgb(16, 20, 98);
    cursor: pointer;
}

#queryResult>div>div {

    width: 50%;
    height: 120px;
}

#queryResult>div>div>img {
    width: 100%;
    height: 120px;
}



#navigation>div>form>input:focus {
    outline: none;
    border-bottom: 1px solid rgb(53, 205, 243);
}

::placeholder {
    font-weight: 600;
}

#navigation>span {
    position: absolute;
    right: 10%;
}

#navigation>span:hover {
    cursor: pointer;
}

#navigation>span>i {
    color: rgb(117, 117, 117);
}